<ul class="list-unstyled">
  <% @likes.each do |likes| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(likes.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to likes.user.name, user_path(likes.user) %> <span class="text-muted">posted at <%= likes.created_at %></span>
        </div>
        <div>
          <p class="mb-0"><%= likes.content %></p>
        </div>
        <div class="btn-toolbar">
          <div class="btn-group">
            <%= render 'likes/like_button', micropost: likes %>
            <% if current_user == likes.user %>
              <%= link_to "Delete", likes, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
            <% end %>
          </div>
        </div>
      </div>
    </li>
  <% end %>
</ul>
